In [14]:
import nltk
import math

In [5]:
dataset = {
    "tfidf_1.txt":open("tfidf_1.txt").read(),
    "tfidf_2.txt":open("tfidf_2.txt").read(),
    "tfidf_3.txt":open("tfidf_3.txt").read(),
    "tfidf_4.txt":open("tfidf_4.txt").read(),
    "tfidf_5.txt":open("tfidf_5.txt").read(),
    "tfidf_6.txt":open("tfidf_6.txt").read(),
    "tfidf_7.txt":open("tfidf_7.txt").read(),
    "tfidf_8.txt":open("tfidf_8.txt").read(),
    "tfidf_9.txt":open("tfidf_9.txt").read(),
    "tfidf_10.txt":open("tfidf_10.txt").read()
}

In [6]:
dataset.keys()

dict_keys(['tfidf_1.txt', 'tfidf_2.txt', 'tfidf_3.txt', 'tfidf_4.txt', 'tfidf_5.txt', 'tfidf_6.txt', 'tfidf_7.txt', 'tfidf_8.txt', 'tfidf_9.txt', 'tfidf_10.txt'])

In [9]:
dataset["tfidf_1.txt"][:10]

'World War '

### Define Functions

In [21]:
# Calculate term frequencies
def tf(dataset, file_name):
    text = dataset[file_name]
    tokens = nltk.word_tokenize(text)
    fd = nltk.FreqDist(tokens)
    return fd

# Calculate inverse document frequency
def idf(dataset, term):
    count = [term in dataset[file_name] for file_name in dataset]
    inv_df = math.log(len(count)/sum(count))
    return inv_df

def tfidf(dataset, file_name, n):
    term_scores = {}
    file_fd = tf(dataset,file_name)
    for term in file_fd:
        if term.isalpha():
            idf_val = idf(dataset,term)
            tf_val = tf(dataset, file_name)[term]
            tfidf_val = tf_val*idf_val
            term_scores[term] = round(tfidf_val,2)
    return sorted(term_scores.items(), key=lambda x:-x[1])[:n]

### Run Code

In [23]:
tf(dataset, "tfidf_1.txt")["world"]

3

In [18]:
idf(dataset, "world")

0.5108256237659907

In [20]:
idf(dataset, "iPhone") # division by zero, no one document contains word 'iPhone'

0.10536051565782635

In [17]:
tfidf(dataset,"tfidf_1.txt",5)

[('Soviet', 20.72),
 ('Union', 18.42),
 ('Axis', 16.12),
 ('Japan', 11.27),
 ('Germany', 11.27)]

In [16]:
for file_name in dataset:
    print("{0}: \n {1} \n".format(file_name, tfidf(dataset,file_name,5)))

tfidf_1.txt:
 [('Soviet', 20.72), ('Union', 18.42), ('Axis', 16.12), ('Japan', 11.27), ('Germany', 11.27)]

tfidf_2.txt:
 [('Module', 16.12), ('Armstrong', 13.82), ('lunar', 13.82), ('Apollo', 11.51), ('Moon', 9.21)]

tfidf_3.txt:
 [('Napoleon', 32.19), ('French', 16.86), ('Coalition', 11.51), ('Prussia', 6.91), ('military', 6.02)]

tfidf_4.txt:
 [('Washington', 25.33), ('President', 6.44), ('Continental', 4.82), ('presided', 4.61), ('militia', 4.61)]

tfidf_5.txt:
 [('Newton', 23.03), ('scientists', 6.91), ('motion', 4.83), ('mathematician', 4.61), ('Principia', 4.61)]

tfidf_6.txt:
 [('Revolution', 21.67), ('French', 15.65), ('privileges', 6.91), ('central', 6.91), ('Napoleon', 6.44)]

tfidf_7.txt:
 [('Leonardo', 18.42), ('Vinci', 9.21), ('painting', 6.91), ('Piero', 4.61), ('architecture', 4.61)]

tfidf_8.txt:
 [('Titanic', 18.42), ('passengers', 11.51), ('maritime', 9.21), ('safety', 9.21), ('lifeboats', 9.21)]

tfidf_9.txt:
 [('Rockefeller', 23.03), ('business', 6.91), ('Standard', 6.91), ('Oil', 6.91), ('University', 4.83)]

tfidf_10.txt:
 [('Tesla', 13.82), ('electrical', 6.44), ('wireless', 6.44), ('mechanical', 4.61), ('alternating', 4.61)]